.permanent {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding-top: 94px 0;
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.permanent-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px;
  list-style: none;
  &__item {
    margin: 15px;
    @media screen and (max-width: 767px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 6 - 30px);
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid $svg-gray-color;
    border-radius: 4px;
    transition: border $mainpropertyofcubic-timeduration;
    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }
    &:hover .permanent-list__icon,
    &:focus .permanent-list__icon {
      fill: $accent-color;
    }
  }
  &__icon {
    fill: $svg-gray-color;
    transition: fill $mainpropertyofcubic-timeduration;
  }
}
